@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;

300;400;700;900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
}

header .box-flex-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .box-flex-header .logo {
  margin: 25px;
}

header .box-flex-header .nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header .box-flex-header .nav-header li {
  padding: 15px;
  cursor: pointer;
}

header .box-flex-header .nav-header li a {
  text-decoration: none;
  color: black;
  height: 100%;
  font-size: 25px;
  font-weight: 600;
}

header .box-flex-header .nav-header li:hover {
  background-color: #B3E5FC;
}

section {
  background-image: url("/img/fondo-pag-speciali.jpg");
}

section h2 {
  color: #002D73;
  font-size: 35px;
  text-transform: uppercase;
}

section .prova-flex {
  display: flex;
  flex-wrap: wrap;
}

section .prova-flex .box-pasta {
  width: calc((100% - 60px) / 3);
  margin: 10px;
  position: relative;
  overflow: hidden;
  background-color: #496680;
}

section .prova-flex .box-pasta .icona-link {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 40px;
  top: 70%;
}

section .prova-flex .box-pasta:hover .icona-link {
  display: block;
}

section .prova-flex .box-pasta .sfondo-pasta {
  width: 100%;
  height: 100%;
}

section .prova-flex .box-pasta .nome-pasta {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  top: 30%;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
}

section .prova-flex .box-pasta .nome-pasta h4 {
  font-weight: 300;
}

section .prova-flex .box-pasta:hover .nome-pasta {
  display: block;
}

section .prova-flex .box-pasta:hover .sfondo-pasta {
  opacity: 0.3;
  transform: scale(1.5);
}

.product {
  background-color: #B8DAE4;
}

.product .box-flex {
  display: flex;
  justify-content: center;
}

.product .box-flex h1 {
  margin-top: 30px;
  color: #002D73;
  text-transform: capitalize;
  font-size: 45px;
}

.product img {
  width: 100%;
}

.product .descrizione-prodotto {
  color: #002D73;
  font-size: 25px;
  padding-bottom: 60px;
}

.wrapper {
  margin-top: 90px;
  color: #848D9B;
  display: flex;
  align-items: flex-start;
  line-height: 25px;
}

.wrapper h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.wrapper .padding-footer {
  padding: 0 10px;
}

.wrapper .footer-middle h4:not(:first-child) {
  margin-top: 20px;
}

.img-footer {
  width: 100%;
}

