@mixin flex-center {
    display: flex;
    justify-content: center;
  }

@mixin position {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@mixin titolo {
  color: $titoloPastaColor;
  font-size: 35px;
  text-transform: uppercase;
}